<div class="container">
    <div class="details">
      <h2>Create a Username</h2>

      <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |error| %>
          <p class="alert alert-danger"><strong>Input Error: <%= error %></strong></p>
        <% end %>
      <% end %>

      <%= form_for @user do |user| %>

        <div class="form-group">
          <%= user.label :user_name %>
          <%= user.text_field :user_name, class: "form-control" %>
        </div>

        <div class="">
          <%= user.submit "Register Username", class: "btn btn-primary" %>
        </div>

      <% end %>
      <hr>
    </div>
</div>
