
      <div class="post_detail">
        <div class="votes">
          <%= link_to upvote_post_path(id: @post.id), method: :post, class: 'btn btn-default btn-sm' do %>
            <i class="glyphicon glyphicon-triangle-top"></i>
          <% end %>
          <div class="count"><strong><%= @post.likes %></strong></div>
          <%= link_to downvote_post_path(id: @post.id), method: :post, class: 'btn btn-default btn-sm' do %>
            <i class="glyphicon glyphicon-triangle-bottom"></i>
          <% end %>
        </div>
        <div class="links">
          <h1><%= link_to @post.title, @post.url %></h1>
          <%= link_to "Delete Entry", post_path(id: @post.id), method: :delete, data: {confirm: "Delete entry?"}, class:"btn btn-danger" %>
          <%= link_to "Add Comment", new_comment_path, class: "btn btn-success" %>
        </div>
      </div>
    <hr/>
