
  <div class="post_detail">
    <div class="votes">
      <%= link_to upvote_post_path(id: @post.id), method: :post, class: 'btn btn-default btn-sm' do %>
        <i class="glyphicon glyphicon-triangle-top"></i>
      <% end %>
      <div class="count"><strong><%= @post.likes %></strong></div>
      <%= link_to downvote_post_path(id: @post.id), method: :post, class: 'btn btn-default btn-sm' do %>
        <i class="glyphicon glyphicon-triangle-bottom"></i>
      <% end %>
    </div>
    <div class="links">
      <h1><%= link_to @post.title, @post.url %></h1>
      <%= link_to "Delete Entry", post_path(id: @post.id), method: :delete, data: {confirm: "Delete entry?"}, class:"btn btn-danger" %>
    </div>
  </div>
<hr/>

<div class="comments_container">

  <h2>comments</h2>

  <%= form_for @comment do |f| %>
  <div class="mdl-textfield mdl-js-textfield <%= 'is-invalid' if @comment.errors[:body].any? %>">
    <%= f.text_area :body, class: "mdl-textfield__input" %>
    <% if @comment.errors[:body].any? %>
      <span class="mdl-textfield__error">* <%= @comment.errors[:body].join(", ") %> </span>
    <% end %>

    <%= f.label :body, class: "mdl-textfield__label" %>
  </div>

  <div>
    <%= f.submit class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
  <% end %>

  <ul>
  <% @post.comments.order("id desc").each do |comment| %>
    <li><%= comment.body %> - <%= distance_of_time_in_words comment.created_at, Time.now %> ago</li>
  <% end %>
  </ul>

</div>
