
<div class="root_container">
  <ol>
    <% @posts.each do |post| %>
      <li>
      <div class="post">
        <div class="votes">
          <%= link_to upvote_post_path(id: post.id), method: :post, class: 'btn btn-default btn-sm' do %>
            <i class="glyphicon glyphicon-triangle-top"></i>
          <% end %>
          <div class="count"><strong><%= post.likes %></strong></div>
          <%= link_to downvote_post_path(id: post.id), method: :post, class: 'btn btn-default btn-sm' do %>
            <i class="glyphicon glyphicon-triangle-bottom"></i>
          <% end %>
        </div>
        <div class="links">
          <h1><%= link_to post.title, post.url %></h1>
          <h2><%= link_to 'comments', post_path(id: post.id) %></h2>
        </div>
      </div>
      </li>
    <% end %>
  </ol>
</div>
