<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="icon_home">
    <%= link_to image_tag('https://www.redditstatic.com/about/assets/reddit-logo.png'), root_path %>
  </div>

<%= yield %>

</body>
</html>
